/* @theme my-theme */
@import 'default';


section {
    /* --text: #d5fafe;
    --background: #011c23;
    --primary: #6febfa;
    --secondary: #9e1505;
    --accent: #d9f82d; */

    /* --text: #e9f5f1;
    --background: #040907;
    --primary: #9fd0bf;
    --secondary: #335f6a;
    --accent: #598bae; */


    --text: #eae9fc;
    --background: #011c23;
    --primary: #179BAE;
    --secondary: #4158A6;
    --accent: #FF8343;


    /* background-color: var(--background); */
    color: var(--text);
    font-size: 1.8rem;
    font-weight: 500;
    background-image: linear-gradient(to bottom, #011c23, #072229, #0d2930, #142f36, #27454c);
    /* background: rgb(9,9,9); */
    /* background: linear-gradient(90deg, var(--background) 0%, var(--background) 100%); */

}

small {
    font-size: 1rem;
    font-weight: 400;
}

h3 {
    color: var(--primary);
}

.bluescrn {
    color: #2596be;
}

.columns {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
}